@font-face {
    font-family: "Neue Haas Display";
    src: url("/fonts/NeueHaasDisplayMediu.ttf");
}

@font-face {
    font-family: "Neue Haas Display";
    font-weight: 100;
    src: url("/fonts/NeueHaasDisplayLight.ttf");
}

@font-face {
    font-family: "Neue Haas Display";
    font-weight: 200;
    src: url("/fonts/NeueHaasDisplayRoman.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Haas Display", sans-serif;
}
body{
    overflow-x: hidden !important;
}
#page1 {
    min-height: 200vh;
    width: 100%;
    background-color: black;
    /* position: relative; */
    padding: 0 2vw;
    overflow: hidden !important;

}


#center {
    height: 85vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    color: white;
    overflow: hidden !important;

   
}



#left h3 {
    width: 25vw;
    font-size: 1.5vw;
    line-height: 2vw;
  
}
#left h3 {
    text-decoration: none; /* Remove default underline */
    /* Default text color */
    position: relative; /* Necessary for positioning pseudo-elements */
    display: inline-block; /* Make the h3 behave like an inline block for width */
    padding-bottom: 2px; /* Space for the underline */
  }
  
  
  
  #left h3:hover::after {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Make the underline span the entire width */
    height: 2px; /* Set the thickness of the underline */
    background-color: hsl(280, 80%, 50%); /* Underline color */
  }
  
  
  

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}



#page2 {
   
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 8vw 0;
    position: relative;
    color: white;
}

#moving-text {
    margin-top: -200px;
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */


    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


/* In your CSS file */
.video-custom {
    width: 100%;
    height: auto;
    transform: scale(1.3, 1.3);
    margin-bottom: -11px;
  }
  

  /* #page1 iframe{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
    height: 70vh;
    object-fit: cover !important;
    
} */

/* 
  Arbitrarily sized & positioned element that will 
  contain the embedded video as background.
*/
.arbitrarily-placed-and-sized-parent-element {
  position: relative;
  top: 50px;
  left: 50px;

  width: 50vw;
  height: 50vh;
}

/*
  This element contains the iframe, will take it's size from
  it's parent and will behave like an image/video 
  with object-fit: cover.
*/
.video-embed-object-fit-cover {
  position: absolute;
  /* ensure positioning regardless of parent flex settings */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
    margin-top: -1vw;
  width: 180%;
  height: 200% !important;

  /* important */
  container-type: size;

  /* cut off overflowing video */
  overflow: hidden;
}

.video-embed-object-fit-cover > iframe {
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 56.25cqw; /* 100*9/16 */
  }



  /* prevent interaction */
  pointer-events: none;
}


#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 4vw 0;
    color: black;
    overflow: hidden !important;

}

.elem {
    height: 150px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page3-1{

    height: 70vh;
    width: 100%;
    background-color: black;
    padding: 10vw 2vw;

}


#page4 {
    height: 100vh;

    background-color: black;
    padding: 10vw;
    
    overflow: hidden !important;
}
@media (max-width: 1024px) {
    #page4 {
        height: 60vh;
        padding: 9vw 3vw;
    }
}

/* Small screens (mobile phones) */
@media (max-width: 768px) {
    #page4 {
        height: 70vh;
        padding: 8vw 4vw;
    }
}

/* Extra small screens (very small devices like 320px width) */
@media (max-width: 480px) {
    #page4 {
        height: 60vh;
        padding: 7vw 5vw;
    }
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}






@media (max-width:600px) {
body{
    background-color: black;
    overflow-x: hidden !important;
}
    #page1 {
        min-height: 120vh;
        margin-top: 90px;
        width: 100vw;
        padding: 0 0vw;
        overflow: hidden !important;
    }
    #center {
        height: 62vh;
        color: white;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
        overflow: hidden !important;
    }

    #left h3 {
        color: white !important;
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    .video-embed-object-fit-cover {
        position: absolute;
        /* ensure positioning regardless of parent flex settings */
        display: flex;
        
        left: 0;
        right: 100px;
        border-radius: 30px;
          margin-top: -13vw;
        width: 160%;
        height: 120% !important;
      
        /* important */
        container-type: size;
      
        /* cut off overflowing video */
        overflow: hidden !important;
      }
      
      .video-embed-object-fit-cover > iframe {
        position: absolute;
        /* keep video centered both vertically and horizontally */
   
      
        width: 170%;
      
        /* force aspect ratio based on parent container */
        
      
      
      
        /* prevent interaction */
        pointer-events: none;
      }
          




    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: black;
        padding: 8vw 0;
        
        position: relative;
        overflow: hidden !important;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        margin-top: 150px;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
        overflow: hidden !important;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 9.8vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }
#page3{
    overflow: hidden !important;
}
#page4{
    overflow: hidden !important;
}
#elem-container{
    overflow: hidden !important

}
.footer3{

    overflow: hidden !important;
}
}


#right h1{
font-size: 7rem;
line-height: 0.9;
}


@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}





#page3-1 {
    position: relative;
    width: 100%;
    height: 70vh; /* Ensure the page takes full viewport height */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden;
    font-family: "Neue Haas Display", sans-serif;
  }
  
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center tag cloud horizontally */
    align-items: center; /* Center tag cloud vertically */
  }
  
  .content{
    transform: rotateY(20deg) rotateX(10deg);  /* Apply 3D rotation */
    transition: transform 0.2s ease-in-out;
  }
  
  .content:hover {
    transform: scale(1.2) rotateY(0deg) rotateX(0deg);  /* Animate scale and reset 3D rotation */
  }
  
 

/* Slider Buttons Styles */
/* Ensure swiper slides are full width and content is centered */
.swiper-slide {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
    height: 100%;  /* Ensure full height of the swiper slide */
  }
  
  /* Make sure images and videos are centered inside the slide */
  .swiper-slide img, .swiper-slide video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  /* Ensures the content scales properly */
  }
  
.swiper-button-prev,
.swiper-button-next {
  color: white !important; /* Ensure visibility */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

#slider-buttons {
    margin-top: -10vh; /* Adjust this for better spacing based on viewport height */
  }
  
  .slid {
    margin-top: 15vh; /* Adjust this for better spacing on smaller screens */
  }
  
  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    #slider-buttons {
      margin-top: 5vh; /* Reduced margin-top for smaller screens */
    }
  
    .slid {
      margin-top: 10vh; /* Reduced margin-top for smaller screens */
    }
  }
  

.orclient{

    display: inline-block; /* Make sure it doesn’t span the full width */
  border-bottom: 5px solid #ff6347; /* Change the color as needed */
  padding-bottom: 5px; 
}



/* Full-screen modal overlay */
.modal-overlay {
    position: fixed; /* Make the modal cover the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top of other content */
  }
  
  /* The image inside the modal */
  .modal-content {
    max-width: 90%;
    max-height: 90%;
    position: relative; /* Position the modal content properly */
    z-index: 1001; /* Ensure image is on top within the modal */
  }
  
  .zoomed-image {
    width: 60%;
    height: auto;
    object-fit: contain; /* Ensure the image fits within the modal */
    border-radius: 8px;
  }
  
  /* Styling for images inside the slider */
  .swiper-slide img {
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 10; /* Ensure images stay in their normal stacking context */
  }
  



  @media (max-width: 380px) {
    #right h1{
     font-size: 3.7rem !important; 
     margin-top: 50px;
    }
  
    .arbitrarily-placed-and-sized-parent-element {
        position: relative;
        top: 50px;
        left: 2px !important;
      
        width: 50vw;
        height: 7vh;
      }
      
      .video-embed-object-fit-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
          
        width: 190%;
        height: 440% !important;
        container-type: size;
        overflow: hidden;
      }
      
      .video-embed-object-fit-cover > iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        width: 140%;
        height: 140%;
      
        /* force aspect ratio based on parent container */
        @container (min-aspect-ratio: 16/9) {
          height: 56.25cqw; /* 100*9/16 */
        }
    
        pointer-events: none;
      }

      #page2-bottom{
margin-top: 60px;


      }
      #page1 {
        min-height: 100vh;
        width: 100%;
        background-color: black;
        /* position: relative; */
        padding: 0 2vw;
        overflow: hidden !important;
    
    }

    #page2-bottom {
        height: 80vh !important;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 4.5vw;
        margin-top: 89px !important;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 9;
    }


  }
  




  @media (max-width: 768px) {
    #right h1{
     font-size: 4rem; 
     margin-top: 50px;
    }
  
    .arbitrarily-placed-and-sized-parent-element {
        position: relative;
        top: 50px;
        left: 2px ;
      
        width: 50vw;
        height: 7vh;
      }
      
      /*
        This element contains the iframe, will take it's size from
        it's parent and will behave like an image/video 
        with object-fit: cover.
      */
      .video-embed-object-fit-cover {
        position: absolute;
        /* ensure positioning regardless of parent flex settings */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
          
        width: 190%;
        height: 440% !important;
      
        /* important */
        container-type: size;
      
        /* cut off overflowing video */
        overflow: hidden;
      }
      
      .video-embed-object-fit-cover > iframe {
        position: absolute;
        /* keep video centered both vertically and horizontally */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        width: 140%;
        height: 140%;
      
        /* force aspect ratio based on parent container */
        @container (min-aspect-ratio: 16/9) {
          height: 56.25cqw; /* 100*9/16 */
        }
      
      
      
        /* prevent interaction */
        pointer-events: none;
      }

      #page2-bottom{
margin-top: 60px;


      }
      #page1 {
        min-height: 100vh;
        width: 100%;
        background-color: black;
        /* position: relative; */
        padding: 0 2vw;
        overflow: hidden !important;
    
    }

    #page2-bottom {
        height: 70vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 4.5vw;
        margin-top: 110px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 9;
    }

  }
  .marquee-containerr h2{
    margin-top: 47vh;
  }

  @media (max-width: 768px) {
    .marquee-containerr h2{
      margin-top: 47vh;
    }
    #page4{

      height: 90vh;
    }
  }
.marquee-containerr{
position: absolute;

}


  .bottomG{
    width: 90px;
    height: 100px;
    position: relative;
    top: 39rem;
    margin-left: 20px;
    opacity: 0.8;
  }
  
  @media (max-width: 700px) {
    .bottomG {
      width: 90px;
      height: 100px;
      position: relative; /* Ensures positioning relative to the viewport */
      top: 28rem;
      opacity: 0.8;
 
     
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Centers horizontally */
      display: block; /* Moves the element back by half its width */
    }
  }
  
  @media (max-width: 768px) {
    .bottomG {
      width: 90px;
      height: 100px;
      position: relative; /* Ensures positioning relative to the viewport */
      top: 35rem;
      opacity: 0.5;

 overflow: hidden;
     
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Centers horizontally */
      display: block; /* Moves the element back by half its width */
    }
  }
  