@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif !important;
overflow-x: hidden;
}

.abtmain{

    font-family: "Mulish", sans-serif !important;
}


/* From Uiverse.io by Cobp */ 
.card-container {
    width: 260px;
    background: linear-gradient(
      to top right,
      #975af4,
      #2f7cf8 40%,
      #78aafa 65%,
      #934cff 100%
    );
    padding: 4px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
  }
  .card-container .title-card {
    display: flex;
    /* align-items: center; */
    padding: 16px 18px;
    justify-content: space-between;
    color: #fff;
  }
  .card-container .title-card p {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px 6px #2975ee;
  }
  
  .card-container .card-content {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .card-container .card-content .title {
    font-weight: 600;
    color: #bab9b9;
  }
  .card-container .card-content .plain :nth-child(1) {
    font-size: 36px;
    color: #fff;
  }
  
  
  .card-container .card-content .card-btn:hover {
    color: #ffffff;
    text-shadow: 0 0 8px #fff;
    transform: scale(1.03);
  }
  .card-container .card-content .card-btn:active {
    transform: scale(1);
  }



.marquee-containe5{
margin-top: 120px;
position: absolute;
bottom: 2%; 
left: 0;
width: 100%; /* Position it absolutely inside WhiteBg */

}

.bottomG{
  width: 90px;
  height: 100px;
 position: relative;
align-items: center;
  top: 25.4rem;
  opacity: 0.8;

}


@media (max-width: 768px) {
  .bottomG {
    width: 90px;
    height: 100px;
    position: relative; /* Ensures positioning relative to the viewport */
    top: 18rem;
    opacity: 0.5;

   
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centers horizontally */
    display: block; /* Moves the element back by half its width */
  }
}
  
    
  